

/* .carousel_card {
    background-color: var(--color-primary-variant);
}

.card_content {  
    background-size: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: var(--transition);  
    background-repeat: no-repeat;
}



.card_content.one {  
    background-image: url('../../assets/pumpkinSeeds.png');
} */




/*
.card_content.two {  
    background-image: url('../../assets/project2.jpg');
}

.card_content.three {  
    background-image: url('../../assets/project3.jpg');
}

.card_content.four {  
    background-image: url('../../assets/project4.jpg');
}

.card_content.five {  
    background-image: url('../../assets/project5.jpg');
}

.card_content.six{  
    background-image: url('../../assets/project6.jpg');
} */
