.container.contacts__container {
    /* width:58%; */
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%

}

.contact__options {
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}


.contact__option {
    /* padding: 1.2rem; */
    text-align:left;
    border: 1px solid transparent
}

.contact__option-icon {
    font-size: 1.5rem;
}

.contact__option a {
    display: inline-block;
    font-size: 0.8rem;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-end;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    background: rgba(255, 245, 219, 0.3);
    border-radius: 0.2rem;
    color: var(--color-primary);
    resize: none;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .container.contacts__container {
        grid-template-columns: 1fr;
    }

    .contact__option {
        text-align: center;
        border: 1px solid transparent
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-primary);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  var(--color-primary);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:  var(--color-primary);
  }